.view {
    background-image: url('/static/images/IMG_0587.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size:100%;
    background-position:cover;
}

@media only screen and (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
        color: black;
    }
  }

  .navbar {
      z-index: 1;
  }

.navbar-toggler-icon {
      background-color: #red;
  }

  html,
  body,
  header,
  .view {
    height: 100%;
  }
